.cards-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  width: 368px;
  gap: 16px 14px;
  margin: 0 auto;
  position: relative;
  top: -25px;
}

@media(min-width:768px){
  .cards-menu{
    grid-template-columns: repeat(6, 1fr); 
    width: 710px;   
  }
}

@media(min-width:1280){
  .cards-menu{
    display: none;
  }
}
