.recipes{
   display: flex;
   flex-direction: column; 
   height: 300px;
   

    :nth-child(3n){
        display: none;
    }
    :nth-child(4n){
        display: none;
    }

   &__title{
    margin-bottom: 50px;
    color: var(--color-secondary);
    font-family: 'Monster';
    font-size: 54px;    
    position: relative;
    left: 10%;
    width: 300px;
    margin: 0auto;
   }


   &__cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    gap: 25px;
   }

   
}

@media(min-width:768px){
    .recipes{
        margin-top: 30px;
        height: 500px;     

        &__title{
            margin-bottom: 90px;
        }

        &__cards{
            grid-template-columns: repeat(3, 1fr);
           
            overflow-x: scroll;
            -ms-overflow-style: none; 
              scrollbar-width: none; 
        
            &::-webkit-scrollbar {
              display: none;
              
            }
            
        }

        article:nth-child(3){
            display: flex;
        }
        
    }
   }

@media(min-width:1280px){
    .recipes{
        &__cards{
            grid-template-columns: repeat(4, 1fr);
        }

        article:nth-child(4){
            display: flex;
        }
    }
}