.banner{
    display: flex; 
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    color: var(--color-white);
    background-image: url('../../assets/bcq.jpg');
    background-position: 50% 50%;
    object-fit: cover;
   
    height: 235px;
    min-width: 428px;
    font-size: 24px; 


    &__text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        left: 60px;
        top: 80px;
        margin: 0;
        padding: 0;

        &-title{
            display: flex;
            margin: 0;
            font-family: 'Poppins';
        }
    
        &-subtitle{
            display: flex;
            margin: 0;
            font-family: 'Monster';
            position: relative;
            top: -20px;
        }
    }
    
}

@media(min-width:768px){
    .banner{
        height: 250px;

        &__text{
            top: 30px;

            &-title{
                font-size: 74px;
            }
    
            &-subtitle{
                font-size: 74px;
            }
        }
    }
}