.header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 69px;
    width: 100%;
    min-width: 428px;

    &__title{
        margin-left: 70px;
        font-family: 'Monster';
        color: var(--color-primary);
    
        &-secondary{
            color: var(--color-secondary);
        }
    }

    &__icon{
        display: flex;
        flex-direction: row;
        margin-right: 30px;

        &-navigation{
            display: none;
            align-items: center;
            flex-direction: row;
            gap: 45px;
            list-style: none;
            margin-right: 20px;
            font-family: 'Poppins';
            font-size: 13px;

            :hover{
                color: var(--color-secondary);
            }
        }
    }
}

@media(min-width:768px){
    
}

@media(min-width:1280px){
    .header__icon-navigation{
        display: flex;
    }

    .header__icon-icon{
        display: none;
    }
}

