.recipe-card{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Monster';
    width: 180px;
    background: var(--card-gradient);
    border-radius: 10px;
    box-shadow: 0px 5px 9px #8395A766;
    min-height: 182px;    
    position: relative;
    max-height: 185px;

    p{
        font-family: 'Poppins';
        margin-left: 10px;
    }


    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;  
        width: 100%;     
        
    }

    &__img{        
        width: 110px;
        height: 110px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: -40px;        
    }

    &__title{        
        font-family: 'Poppins';
        font-size: 20px;        
        text-align: center;
        margin-top: 80px;
        margin-bottom: 55px;
        color: var(--color-secondary);
        width: 140px;
        height: 26px; 
        white-space: nowrap;
        overflow: hidden;       
        text-overflow: ellipsis;
    }

    &__servings{
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;        
        margin-bottom: 10px;
        margin-top: 80px;

        &-title{
            color:var(--color-secondary);
            font-size: 17px;
        }

        &-amount{
            font-family: 'Poppins';
            font-size: 15px;
        }
    } 

    &__preaparationTime{
        display: none;
        margin-bottom: 10px;
        
        &-title{
            color:var(--color-secondary);
            font-size: 17px;
        }

        &-time{
            font-family: 'Poppins';
            font-size: 15px;
        }
    }

    &__difficulty{
        display: none;
        margin-bottom: 19px;

        &-title{
            color: var(--color-secondary);
            font-size: 17px;
        }

        &-level{
            font-family: 'Poppins';
            font-size: 15px;
        }
    }
    
    
    &__icons{
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        

        &-star{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            
        }
    }
}

@media(min-width:768px){
    .recipe-card{
        width: 266px;
        max-height: 270px;

        &__img{
            width: 164px;
            height: 158px;

        }

        &__title{
            margin-top:140px;
        }
    }
}

@media(min-width:1280px){
    .recipe-card{
        
    &:hover{
        max-height: 386px;

        .recipe-card__title{
            display: none;
        }

        .recipe-card__servings{
            display: flex;
        }

        .recipe-card__icons{
            display: none;
        }

        .recipe-card__preaparationTime{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;          
        }

        .recipe-card__difficulty{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

       
    }
    }
    .recipe-card__servings{
        margin-top: 130px;
    }
}